.formControl.error input,
.formControl.error textarea {
  border: solid red 3px;
}

.formControl.error span {
  color: red;
}

.formCommonError {
  border: red 1px solid;
  padding: 3px;
  color: brown;
}
